body,
html {
  color: #333333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

main.main-player {
  display: flex;
  min-height: 100vh;
}

footer.main-footer {
  width: 100%;
  margin: 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.8em 1em 0;
  box-shadow: 2px 2px 10px #666666;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer.main-footer div.foot-content {
  width: 100%;
  display: flex;
  align-items: center;
}

footer.main-footer div#info-container {
  justify-content: space-between;
  height: auto;
}

footer.main-footer div#info-container span.spantime {
  font-size: 0.9em;
  font-style: normal;
  font-weight: 500;
  color: #666666;
  text-transform: uppercase;
  line-height: 2;
}

footer.main-footer div#info-container strong#music-title {
  font-size: 1.2em;
  line-height: 2;
  color: #333333;
  font-style: italic;
  font-weight: 900;
}

footer.main-footer div#time-container {
  justify-content: center;
}

footer.main-footer div#time-container input[type="range"]#music-time-range {
  /* -webkit-appearance: none; */
  width: 100%;
  overflow: hidden;

  height: 3px;
  border-radius: 50px;
  outline: none;
}

div#controls-container {
  justify-content: center;
  height: 50px;
}

div#controls-container ul {
  display: flex;
}

div#controls-container ul li {
  display: flex;
  margin: 0px 5px 0;
}

div#controls-container ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
